<h2 id="frequently-asked-questions">
  Frequently asked questions
</h2>
<p>
  Answers to common questions:
</p>
<h3 id="what-is-a-webring">
  What is a webring?
</h3>
<p>
  A <a href="https://en.wikipedia.org/wiki/Webring">webring</a> is a human-curated list of websites organized around a specific topic. This webring is dedicated to people interested in digital accessibility.
</p>
<h3 id="why-does-this-webring-exist">
  Why does this webring exist?
</h3>
<p>
  This webring was created as a way to discover people doing good work in the digital accessibility space.
</p>
<p>
  It provides a way for people to discover and learn from each other following <a href="https://crutchesandspice.com/2022/11/16/with-twitter-crumbling-it-feels-like-the-world-is-collapsing-on-disabled-people/">the fracturing of Twitter</a>.
</p>
<h3 id="what-is-digital-accessibility">
  What is digital accessibility?
</h3>
<p>
  Digital accessibility is the practice of making technology able to be used by disabled people. This includes websites, web apps, native apps, kiosks, e-readers, desktop computers, laptops, tablets, smartphones, etc.
</p>
<h3 id="what-is-a11y">
  What is a11y?
</h3>
<p>
  “a11y” is a numeronym, a form of abbreviation that refers to the word “accessibility.” To learn more about this term, check out The A11Y Project’s post, <a href="https://www.a11yproject.com/posts/a11y-and-other-numeronyms/">a11y and a brief numeronyms primer</a>.
</p>
<h3 id="how-do-i-request-changes">
  How do I request changes?
</h3>
<ul>
  <li>
    If you need to update your personal information, please follow our <a href="https://github.com/ericwbailey/a11y-webring.club/blob/main/.github/CONTRIBUTING.md">contribution directions</a>.
  </li>
  <li>
    If you want to raise a concern about a listed site, please <a href="https://github.com/ericwbailey/a11y-webring.club/issues">raise an issue</a>.
  </li>
  <li>
    If you want to update the content of this website, please <a href="https://github.com/ericwbailey/a11y-webring.club/pulls">create a Pull Request</a>.
  </li>
</ul>
<h3 id="who-made-this">
  Who made this?
</h3>
<p>
  <a rel="me external" href="https://ericwbailey.website/">Eric Bailey</a>, with help from <a href="https://mxb.dev/">Max Böck</a>’s <a href="https://github.com/maxboeck/webring/">webring project</a>.
</p>
