<div>
  <p>
    Made with <a class="[ c-footer-link ]" href="https://www.11ty.dev/">Eleventy</a>, <a class="[ c-footer-link ]" href="https://netlify.com/">Netlify</a>, <a class="[ c-footer-link ]" href="https://github.com/ericwbailey/a11y-webring.club/">GitHub</a>, and love.
  </p>
  <div class="[ c-theme-switcher ]">
    <p>
      Color scheme:
    </p>
    <button
      id="scheme-button-system"
      class="[ u-button ] [ c-toggle-button ]"
      aria-pressed="true"
      type="button">
      <svg aria-hidden="true" focusable="false" class="[ c-icon ]"><use xlink:href="#system"></use></svg>
      <span class="[ u-hide-visually ]">System</span>
    </button>
    <button
      id="scheme-button-light"
      class="[ u-button ] [ c-toggle-button ]"
      type="button">
      <svg aria-hidden="true" focusable="false" class="[ c-icon ]"><use xlink:href="#light"></use></svg>
      <span class="[ u-hide-visually ]">Light</span>
    </button>
    <button
      id="scheme-button-dark"
      class="[ u-button ] [ c-toggle-button ]"
      type="button">
      <svg aria-hidden="true" focusable="false" class="[ c-icon ]"><use xlink:href="#dark"></use></svg>
      <span class="[ u-hide-visually ]">Dark</span>
    </button>
  </div>
</div>
<p class="[ c-footer-additional ]">
  <span>
    <a rel="license" class="[ c-footer-link ]" href="https://github.com/ericwbailey/a11y-webring.club/blob/main/LICENSE">MIT License</a>
  </span>
  <span>
    <a class="[ c-footer-link ]" href="https://github.com/ericwbailey/a11y-webring.club/blob/main/.github/CODE_OF_CONDUCT.md">Code of Conduct</a>
  </span>
  <span>
    <a class="[ c-footer-link ]" href="https://github.com/ericwbailey/a11y-webring.club/blob/main/.github/ACCESSIBILITY_STATEMENT.md">Accessibility statement</a>
  </span>
</p>
