<p class="site-section footer">
  Made with <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://netlify.com/">Netlify</a>, <a href="https://github.com/ericwbailey/a11y-webring.club/">GitHub</a>, and love. <a rel="license" href="https://github.com/ericwbailey/a11y-webring.club/blob/main/LICENSE">MIT License</a>
</p>
