<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="cleartype" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="color-scheme" content="light dark">

<title>{{ metadata.title }} - {{ metadata.description }}</title>
<meta name="author" content="{{ metadata.author }}">

<link rel="icon" href="{{ metadata.url }}/favicon.ico{{ metadata.cachebust }}" sizes="32x32">
<link rel="icon" href="{{ metadata.url }}/icon.svg{{ metadata.cachebust }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ metadata.url }}/{{ metadata.social.apple }}{{ metadata.cachebust }}">
<link rel="manifest" href="{{ metadata.url }}/manifest.webmanifest">

<meta name="application-name" content="{{ metadata.title }}">
<meta name="theme-color" content="{{ metadata.theme.light }}">
<meta name="theme-color" content="{{ metadata.theme.dark }}" media="(prefers-color-scheme: dark)">

<link rel="stylesheet" href="site.css" as="style">

<link rel="canonical" href="{{ metadata.url }}">
<meta property="og:site_name" content="{{ metadata.title }}">
<meta property="og:title" content="{{ metadata.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ metadata.url }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ metadata.url }}/{{ metadata.social.preview }}">
<meta name="twitter:image" content="{{ metadata.url }}/{{ metadata.social.preview }}">
<meta name="description" content="{{ metadata.description }}">
<meta name="twitter:description" content="{{ metadata.description }}">
<meta property="og:description" content="{{ metadata.description }}">
