<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="cleartype" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content="{{ eleventy.generator }}">

<title>{{ metadata.title }} - {{ metadata.description }}</title>
<meta name="author" content="{{ metadata.author }}">

<link rel="mask-icon" href="{{ metadata.social.safari }}" color="{{ metadata.social.color }}">
<link rel="icon" href="favicon.ico" sizes="any">
<link rel="icon" type="image/svg+xml" href="favicon.svg">
<link rel="apple-touch-icon" sizes="180x180" href="{{ metadata.social.apple }}">
<meta name="apple-mobile-web-app-title" content="{{ metadata.title }}">
<meta name="application-name" content="{{ metadata.title }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="site.css" as="style">

<meta property="og:url" content="{{ metadata.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ metadata.title }}">
<meta property="og:description" content="{{ metadata.description }}">
<meta property="og:image" content="{{ metadata.url }}/{{ metadata.social.facebook }}">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="a11y-webring.club">
<meta property="twitter:url" content="{{ metadata.url }}">
<meta name="twitter:title" content="{{ metadata.title }}">
<meta name="twitter:description" content="{{ metadata.description }}">
<meta name="twitter:image" content="{{ metadata.url }}/{{ metadata.social.twitter }}">
