<h1
  id="title"
  class="[ u-align-text-center u-tracking-slight ] [ c-title ]"
  tabindex="-1">
  {{ metadata.title }}
</h1>
<p class="[ u-align-text-center ] [ c-tagline ]">
  A webring for digital accessibility&nbsp;practitioners
</p>
