<h2 class="site-section" id="join-this-webring">
  Join this webring
</h2>
<p>
  Want to add yourself to this webring? Please:
</p>
<ol>
  <li>
    Read our <a href="https://github.com/ericwbailey/a11y-webring.club/blob/main/.github/CODE_OF_CONDUCT.md">code of conduct</a>, and then
  </li>
  <li>
    Follow the <a rel="help external" href="https://github.com/ericwbailey/a11y-webring.club/blob/main/.github/CONTRIBUTING.md">contributing directions</a>.
  </li>
</ol>
<h3 id="this-webring-accepts">
  This webring accepts
</h3>
<p>
  If you think you belong here, chances are you do!
</p>
<p>
  People of <strong>any</strong> level of skill or experience in the industry doing accessibility work are welcome. Being listed only requires:
</p>
<ol>
  <li>
    An interest in digital accessibility,
  </li>
  <li>
    A personal website, and
  </li>
  <li>
    Using <a href="#list-the-webring-on-your-website">our webring code</a> somewhere on your website.
  </li>
</ol>
<p>
  You can identify as disabled or abled. You can have professional certifications, or none at all. Your area of expertise can be anything: auditing, writing, designing, development, project management, QA, training, etc.
</p>
<h3 id="this-webring-does-not-accept">
  This webring does not accept
</h3>
<p>
  This webring is focused on <strong>people</strong>.
</p>
<p>
  Because of this, it is not interested in listing accessibility companies and professional organizations. If that is something you are looking for, check <a href="https://www.a11yproject.com/resources/#professional-help">this list of professional help</a>.
</p>
<p>
  This webring also forbids participation from <a href="https://overlayfactsheet.com/">overlay companies</a>, as well as employees of overlay companies. This is due to overlays’ exploitative, unethical behavior and damaging impact on digital accessibility efforts.
</p>
<p>
  Please refer to our <a href="https://github.com/ericwbailey/a11y-webring.club/blob/main/.github/CODE_OF_CONDUCT.md">code of conduct</a> for further information about acceptable and unacceptable behavior.
</p>
