<div class="[ prn-legal ] [ u-align-text-center ]">
  <p>
    <a class="[ c-prn-legal-link ]" href="#what-is-a-webring">What is a webring?</a>
    &emsp;
    <a class="[ c-prn-legal-link ]" href="#join-this-webring">Join this webring</a>
  </p>
</div>
