<div class="[ u-push-apart ]">
  <h2
    id="members"
    tabindex="-1">
    Members
    <span class="[ c-count ]">({{ members | length }})</span>
  </h2>

  <a class="[ u-hide-visually ]" href="#join-this-webring">
    Skip member list
  </a>

  <div class="[ c-layout-switcher ]">
    <p class="[ c-layout-switcher-label ]">
      Layout:
    </p>
    <button
      class="[ u-button u-icon-press ] [ c-toggle-button c-toggle-button-first ]"
      aria-pressed="true"
      data-toggle-button-members-list
      type="button">
      <svg aria-hidden="true" focusable="false" class="[ c-icon ]"><use xlink:href="#list"></use></svg>
      <span class="[ u-hide-visually ]">List</span>
    </button>
    <button
      class="[ u-button u-icon-press ] [ c-toggle-button c-toggle-button-last ]"
      aria-pressed="false"
      data-toggle-button-members-grid
      type="button">
      <svg aria-hidden="true" focusable="false" class="[ c-icon ]"><use xlink:href="#grid"></use></svg>
      <span class="[ u-hide-visually ]">Grid</span>
    </button>
  </div>
</div>

<ul
  data-members-list
  class="[ c-members ][ view-as-list ]">
  {% for key, member in members | sortDataByDate %}
  <li class="[ c-member ]">
    <h3
      id="{{ member.name | slugify }}"
      class="[ c-name ]"
      tabindex="-1">
      <a class="[ c-name-link ]" href="{{ member.url }}">{{ member.name | safe }}</a>
    </h3>

    <ul class="[ c-member-contact ]">
      {% if member.linkedin %}
      <li>
        <a class="[ c-member-link ]" href="{{ member.linkedin }}">
          <svg class="[ u-scale-on-hover ] [ c-icon ]"><use xlink:href="#linkedin"></use></svg>
          <span class="[ u-hide-visually ]">LinkedIn profile: {{ member.name }}</span>
        </a>
      </li>
      {% endif %}
      {% if member.github %}
      <li>
        <a class="[ c-member-link ]" href="{{ member.github }}">
          <svg class="[ u-scale-on-hover ] [ c-icon ]"><use xlink:href="#github"></use></svg>
          <span class="[ u-hide-visually ]">GitHub profile: {{ member.name }}</span>
        </a>
      </li>
      {% endif %}
      {% if member.codeberg %}
      <li>
        <a class="[ c-member-link ]" href="{{ member.codeberg }}">
          <svg class="[ u-scale-on-hover ] [ c-icon ]"><use xlink:href="#codeberg"></use></svg>
          <span class="[ u-hide-visually ]">Codeberg profile: {{ member.name }}</span>
        </a>
      </li>
      {% endif %}
      {% if member.bluesky %}
      <li>
        <a class="[ c-member-link ]" href="{{ member.bluesky }}">
          <svg class="[ u-scale-on-hover ] [ c-icon ]"><use xlink:href="#bluesky"></use></svg>
          <span class="[ u-hide-visually ]">Bluesky account: {{ member.name }}</span>
        </a>
      </li>
      {% endif %}
      {% if member.mastodon %}
      <li>
        <a class="[ c-member-link ]" href="{{ member.mastodon }}">
          <svg class="[ u-scale-on-hover ] [ c-icon ]"><use xlink:href="#mastodon"></use></svg>
          <span class="[ u-hide-visually ]">Mastodon account: {{ member.name }}</span>
        </a>
      </li>
      {% endif %}
      {% if member.rss %}
      <li>
        <a class="[ c-member-link ]" href="{{ member.rss }}">
          <svg class="[ u-scale-on-hover ] [ c-icon ]"><use xlink:href="#rss"></use></svg>
          <span class="[ u-hide-visually ]">RSS feed: {{ member.name }}</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </li>
  {% endfor %}
</ul>
