<div class="[ u-push-apart ]">
  <h2
    id="members"
    tabindex="-1">
    Members
    <span class="[ c-count ]">({{ members | length }})</span>
  </h2>

  <a class="[ u-hide-visually ]" href="#join-this-webring">
    Skip member list
  </a>

  <div class="[ c-layout-switcher ]">
    <p class="[ c-layout-switcher-label ]">
      Layout:
    </p>
    <button
      class="[ u-button u-icon-press ] [ c-toggle-button c-toggle-button-first ]"
      aria-pressed="true"
      data-toggle-button-members-list
      type="button">
      <svg aria-hidden="true" focusable="false" class="[ c-icon ]"><use xlink:href="#list"></use></svg>
      <span class="[ u-hide-visually ]">List</span>
    </button>
    <button
      class="[ u-button u-icon-press ] [ c-toggle-button c-toggle-button-last ]"
      aria-pressed="false"
      data-toggle-button-members-grid
      type="button">
      <svg aria-hidden="true" focusable="false" class="[ c-icon ]"><use xlink:href="#grid"></use></svg>
      <span class="[ u-hide-visually ]">Grid</span>
    </button>
  </div>
</div>

<ul
  data-members-list
  class="[ c-members ][ view-as-list ]">
  {% for key, member in members | sortDataByDate %}
  <li class="[ c-member ]">
    <h3
      id="{{ member.name | slugify }}"
      class="[ c-name ]"
      tabindex="-1">
      <a class="[ c-name-link ]" href="{{ member.url }}">{{ member.name }}</a>
    </h3>

    <ul class="[ c-member-contact ]">
      {% if member.linkedin %}
      <li>
        <a class="[ c-member-link ]" href="{{ member.linkedin }}">
          <svg class="[ u-scale-on-hover ] [ c-icon ]"><use xlink:href="#linkedin"></use></svg>
          <span class="[ u-hide-visually ]">LinkedIn profile: {{ member.name }}</span>
        </a>
      </li>
      {% endif %}
      {% if member.github %}
      <li>
        <a class="[ c-member-link ]" href="{{ member.github }}">
          <svg class="[ u-scale-on-hover ] [ c-icon ]"><use xlink:href="#github"></use></svg>
          <span class="[ u-hide-visually ]">GitHub profile: {{ member.name }}</span>
        </a>
      </li>
      {% endif %}
      {# {% if member.bluesky %}
      <li>
        <a class="[ c-member-link ]" href="{{ member.mastodon }}">
          <svg class="[ u-scale-on-hover ] [ c-icon ]"><path d="M13.873 3.80516C21.21 9.33216 29.103 20.5372 32 26.5502V42.4322C32 42.0942 31.87 42.4762 31.59 43.2992C30.078 47.7552 24.172 65.1462 10.667 51.2432C3.556 43.9232 6.848 36.6032 19.792 34.3932C12.387 35.6572 4.062 33.5682 1.778 25.3782C1.12 23.0222 0 8.51016 0 6.55016C0 -3.26784 8.579 -0.181838 13.873 3.80516ZM50.127 3.80516C42.79 9.33216 34.897 20.5372 32 26.5502V42.4322C32 42.0942 32.13 42.4762 32.41 43.2992C33.922 47.7552 39.828 65.1462 53.333 51.2432C60.444 43.9232 57.152 36.6032 44.208 34.3932C51.613 35.6572 59.938 33.5682 62.222 25.3782C62.88 23.0222 64 8.51016 64 6.55016C64 -3.26784 55.422 -0.181838 50.127 3.80516Z" fill="currentColor"/></svg>
          <span class="[ u-hide-visually ]">Bluesky account: {{ member.name }}</span>
        </a>
      </li>
      {% endif %} #}
      {% if member.mastodon %}
      <li>
        <a class="[ c-member-link ]" href="{{ member.mastodon }}">
          <svg class="[ u-scale-on-hover ] [ c-icon ]"><use xlink:href="#mastodon"></use></svg>
          <span class="[ u-hide-visually ]">Mastodon account: {{ member.name }}</span>
        </a>
      </li>
      {% endif %}
      {% if member.rss %}
      <li>
        <a class="[ c-member-link ]" href="{{ member.rss }}">
          <svg class="[ u-scale-on-hover ] [ c-icon ]"><use xlink:href="#rss"></use></svg>
          <span class="[ u-hide-visually ]">RSS feed: {{ member.name }}</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </li>
  {% endfor %}
</ul>
