<ul class="[ prn-links ] [ c-webring-links ]">
  <li>
    <a class="[ c-webring-links-item ]" rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev">
      <svg aria-hidden="true" focusable="false" class="[ c-icon ]"><use xlink:href="#previous"></use></svg>
      <span class="[ c-webrink-links-title ]">Previous website</span>
    </a>
  </li>
  <li>
    <a class="[ c-webring-links-item ]" rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/random">
      <svg aria-hidden="true" focusable="false" class="[ c-icon ]"><use xlink:href="#random"></use></svg>
      <span class="[ c-webrink-links-title ]">Random website</span>
    </a>
  </li>
  <li>
    <a class="[ c-webring-links-item ]" rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next">
      <svg aria-hidden="true" focusable="false" class="[ c-icon ]"><use xlink:href="#next"></use></svg>
      <span class="[ c-webrink-links-title ]">Next website</span>
    </a>
  </li>
</ul>
