<script>
  const copyContent = async () => {
    try {
      await navigator.clipboard.writeText(`<nav class="a11y-webring-club" aria-labelledby="a11y-webring-club">
  <h2 id="a11y-webring-club">a11y-webring.club</h2>
  <p>This site is a member of the <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.</p>
  <ul>
    <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev">Previous website</a></li>
    <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/random">Random website</a></li>
    <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next">Next website</a></li>
  </ul>
</nav>`);
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }
</script>

<script>
  function initMemberLayout() {
    const members = document.querySelector('[data-members-list]');
    const toggleButtonList = document.querySelector('[data-toggle-button-list]');
    const toggleButtonGrid = document.querySelector('[data-toggle-button-grid]');

    toggleButtonList.addEventListener('click', function () {
      members.classList.replace('members--grid', 'members--list');
      toggleButtonList.setAttribute('aria-pressed', true);
      toggleButtonGrid.setAttribute('aria-pressed', false);
      localStorage.setItem('memberLayout', 'list');
    });

    function applyGridLayout() {
      members.classList.replace('members--list', 'members--grid');
      toggleButtonList.setAttribute('aria-pressed', false);
      toggleButtonGrid.setAttribute('aria-pressed', true);
    }

    toggleButtonGrid.addEventListener('click', function () {
      applyGridLayout();
      localStorage.setItem('memberLayout', 'grid');
    });

    const storedMemberLayout = localStorage.getItem('memberLayout');
    if (storedMemberLayout === 'grid') {
      applyGridLayout();
    }
  }

  initMemberLayout();
</script>
