<script>
  const copyContent = async () => {
    try {
      await navigator.clipboard.writeText(`<nav class="a11y-webring-club" aria-labelledby="a11y-webring-club">
  <h2 id="a11y-webring-club">a11y-webring.club</h2>
  <p>This site is a member of the <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.</p>
  <ul>
    <li><a rel="previous external" referrerpolicy="no-referrer-when-downgrade" href="https://a11y-webring.club/prev">Previous website</a></li>
    <li><a rel="external" referrerpolicy="no-referrer-when-downgrade" href="https://a11y-webring.club/random">Random website</a></li>
    <li><a rel="next external" referrerpolicy="no-referrer-when-downgrade" href="https://a11y-webring.club/next">Next website</a></li>
  </ul>
</nav>`);
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }
</script>
