<div class="[ c-toc ]">
  <h2
    id="table-of-contents"
    tabindex="-1"
    class="[ c-toc-title ] [ u-font-weight-bold u-font-size-0 ]">
    Table of contents
  </h2>

  <a class="[ u-hide-visually ] [ c-toc-skiplink ]" href="#members">
    Skip table of contents
  </a>

  <ol class="[ c-toc-list ] [ u-font-size-0 ]">
    <li class="[ c-toc-list-item ]">
      <a class="[ c-toc-link ]" href="#members">
        Members
      </a>
    </li>
    <li class="[ c-toc-list-item ]">
      <a class="[ c-toc-link ]" href="#join-this-webring">
        Join this webring
      </a>
      <ol>
        <li class="[ c-toc-list-item ]">
          <a class="[ c-toc-link ]" href="#this-webring-accepts">
            This webring accepts
          </a>
        </li>
        <li class="[ c-toc-list-item ]">
          <a class="[ c-toc-link ]" href="#this-webring-does-not-accept">
            This webring does not accept
          </a>
        </li>
      </ol>
    </li>
    <li class="[ c-toc-list-item ]">
      <a class="[ c-toc-link ]" href="#list-the-webring-on-your-website">
        List the webring on your website
      </a>
    </li>
    <li class="[ c-toc-list-item ]">
      <a class="[ c-toc-link ]" href="#frequently-asked-questions">
        Frequently asked questions
      </a>
      <ol>
        <li class="[ c-toc-list-item ]">
          <a class="[ c-toc-link ]" href="#what-is-a-webring">
            What is a webring?
          </a>
        </li>
        <li class="[ c-toc-list-item ]">
          <a class="[ c-toc-link ]" href="#why-does-this-webring-exist">
            Why does this webring exist?
          </a>
        </li>
        <li class="[ c-toc-list-item ]">
          <a class="[ c-toc-link ]" href="#what-is-digital-accessibility">
            What is digital accessibility?
          </a>
        </li>
        <li class="[ c-toc-list-item ]">
          <a class="[ c-toc-link ]" href="#what-is-a11y">
            What is a11y?
          </a>
        </li>
        <li class="[ c-toc-list-item ]">
          <a class="[ c-toc-link ]" href="#how-do-i-request-changes">
            How do I request changes?
          </a>
        </li>
        <li class="[ c-toc-list-item ]">
          <a class="[ c-toc-link ]" href="#who-made-this">
            Who made this?
          </a>
        </li>
      </ol>
    </li>
  </ol>
</div>
