<h2 class="site-section" id="list-the-webring-on-your-website">
  List the webring on your website
</h2>
<p>
  Copy and paste the following code somewhere on your website:
</p>
  <button onclick="copyContent()" type="button">
  <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M9 1a2 2 0 0 0-2 2H6a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3h-1a2 2 0 0 0-2-2H9Zm8 4a2 2 0 0 1-2 2H9a2 2 0 0 1-2-2H6a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-1ZM9 4v1h6V3H9v1Z" clip-rule="evenodd"/></svg>
  <span class="hide-visually">Copy code</span>
</button>
<div class="codeblock">
<pre id="code" aria-label="Webring widget code" role="region" tabindex="0"><code>&#x3C;nav aria-labelledby=&#x22;a11y-webring-club&#x22;&#x3E;
  &#x3C;h2 id=&#x22;a11y-webring-club&#x22;&#x3E;a11y-webring.club&#x3C;/h2&#x3E;
  &#x3C;p&#x3E;This site is a member of the &#x3C;a rel=&#x22;external&#x22; href=&#x22;https://a11y-webring.club/&#x22;&#x3E;a11y-webring.club&#x3C;/a&#x3E;.&#x3C;/p&#x3E;
  &#x3C;ul&#x3E;
    &#x3C;li&#x3E;&#x3C;a rel=&#x22;previous external&#x22; href=&#x22;https://a11y-webring.club/previous&#x22;&#x3E;Previous website&#x3C;/a&#x3E;&#x3C;/li&#x3E;
    &#x3C;li&#x3E;&#x3C;a rel=&#x22;external&#x22; href=&#x22;https://a11y-webring.club/random&#x22;&#x3E;Random website&#x3C;/a&#x3E;&#x3C;/li&#x3E;
    &#x3C;li&#x3E;&#x3C;a rel=&#x22;next external&#x22; href=&#x22;https://a11y-webring.club/next&#x22;&#x3E;Next website&#x3C;/a&#x3E;&#x3C;/li&#x3E;
  &#x3C;/ul&#x3E;
&#x3C;/nav&#x3E;
</code></pre>
</div>
<p>
  You can style the presentation of this code to your heart’s content, so long as it is done in an accessible way.
</p>
