<h2
  id="list-the-webring-on-your-website"
  tabindex="-1">
  List the webring on your website
</h2>
<ol>
  <li>Copy and paste <a class="[ u-color-text-secondary ]" href="code">the webring code</a> somewhere on your website, and then</li>
  <li><a class="[ u-color-text-secondary ]" href="https://github.com/ericwbailey/a11y-webring.club/blob/main/.github/CONTRIBUTING.md#i-want-to-add-my-site-to-the-webring">Submit a Pull Request</a> to be added.</li>
</ol>
<button class="[ u-button u-scale-on-hover u-icon-press ] [ c-copy-button ]" onclick="copyContent()" type="button">
  <svg class="[ c-icon ]"><use xlink:href="#copy"></use></svg>
  <span class="[ u-hide-visually ]">Copy code</span>
</button>
<pre id="code" class="[ c-codeblock ]" aria-label="Webring widget code" role="region" tabindex="0"><code>&#x3C;nav class=&#x22;a11y-webring-club&#x22; aria-labelledby=&#x22;a11y-webring-club&#x22;&#x3E;
  &#x3C;h2 id=&#x22;a11y-webring-club&#x22;&#x3E;a11y-webring.club&#x3C;/h2&#x3E;
  &#x3C;p&#x3E;This site is a member of the &#x3C;a rel=&#x22;external&#x22; href=&#x22;https://a11y-webring.club/&#x22;&#x3E;a11y-webring.club&#x3C;/a&#x3E;.&#x3C;/p&#x3E;
  &#x3C;ul&#x3E;
    &#x3C;li&#x3E;&#x3C;a rel=&#x22;external&#x22; referrerpolicy=&#x22;strict-origin&#x22; href=&#x22;https://a11y-webring.club/prev&#x22;&#x3E;Previous website&#x3C;/a&#x3E;&#x3C;/li&#x3E;
    &#x3C;li&#x3E;&#x3C;a rel=&#x22;external&#x22; referrerpolicy=&#x22;strict-origin&#x22; href=&#x22;https://a11y-webring.club/random&#x22;&#x3E;Random website&#x3C;/a&#x3E;&#x3C;/li&#x3E;
    &#x3C;li&#x3E;&#x3C;a rel=&#x22;external&#x22; referrerpolicy=&#x22;strict-origin&#x22; href=&#x22;https://a11y-webring.club/next&#x22;&#x3E;Next website&#x3C;/a&#x3E;&#x3C;/li&#x3E;
  &#x3C;/ul&#x3E;
&#x3C;/nav&#x3E;
</code></pre>
<p>
  You can style the presentation of this code to your heart’s content, so long as it is done in an accessible way.
</p>
